.category-list {
  display: flex;
  flex-direction: column;

  > .category {
    padding: 8px 32px;
    border-radius: 3px;
  }

  > .category.-activated {
    background-color: #666;
  }

  > .category:hover {
    cursor: pointer;
  }
}
